﻿@page "/fileupload"
@using Microsoft.AspNetCore.Components.Forms
@using MartinMihaylovEmployees.Components.Services
@using MartinMihaylovEmployees.Components.Models
@inject EmployeeService EmployeeService

<h3>Upload CSV File</h3>

<InputFile class="btn btn-info" OnChange="HandleFileSelected" />
<button type="button" class="btn btn-success" @onclick="ProcessFile">Process File</button>

@if (commonProjects != null)
{
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Employee ID #1</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in commonProjects)
                        {
                            <tr>
                                <td>@record.EmployeeId1</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Employee ID #2</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in commonProjects)
                        {
                            <tr>
                                <td>@record.EmployeeId2</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Project ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in commonProjects)
                        {
                            <tr>
                                <td>@record.ProjectId</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Days Worked</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in commonProjects)
                        {
                            <tr>
                                <td>@record.DaysWorked</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@code {
    private IBrowserFile file;
    private List<CommonProject> commonProjects;

    private void HandleFileSelected(InputFileChangeEventArgs e)
    {
        file = e.File;
    }

    private async Task ProcessFile()
    {
        if (file != null)
        {
            using var stream = file.OpenReadStream();
            commonProjects = await EmployeeService.UploadFileAsync(stream, file.Name);
        }
    }
}