﻿@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center mt-5">
    <h1 class="display-4 text-primary">Welcome to Employee Project Analyzer!</h1>
    <p class="lead">This app helps you identify the pair of employees who have worked together on common projects for the longest period of time.</p>
    <p class="lead">Just upload your CSV file and let the magic happen!</p>
</div>
